# numpy
# pymilvus
# pydantic-settings
# shortuuid
# torch==2.1.1
# omegaconf
# tqdm
# torchaudio
# nemo-asr
# librosa
# soundfile
# hydra-core
# pytorch-lightning
# transformers
# sentencepiece
# youtokentome
# webdataset
# braceexpand
# editdistance
# g2p_en
# ipywidgets
# jiwer
# kaldi-python-io
# kaldiio
# marshmallow
# matplotlib
# packaging
# pyannote.core
# pyannote.metrics
# pydub
# scipy>=0.14
# sox
# texterrors
# huggingface_hub
# numba
# onnx>=1.7.0
# python-dateutil
# ruamel.yaml
# scikit-learn
# setuptools>=65.5.1
# tensorboard
# text-unidecode
# triton
# wget
# wrapt